; Version History of the config file
; ----------------------------------
;
;  1.3: Added [app] section
;  1.2: Added [pusher] section
;  1.1: Added "security.jwt_secret"
;  1.0: Initial version
;
; ----------------------------------

[meta]
version = 1.1

[app]
static_folder = /home/exhuma/work/powonline-frontend/dist

[db]
dsn = postgresql://exhuma@/powonline

[security]
jwt_secret = foobar

[pusher]
app_id = 123456
key = 1234567890abcdef
secret = 1234567890abcdef
